<%- include("_header") -%>

<h1>Bonjour le monde...</h1>
<p>Ce site est réservé aux personnes inscrites à la bibliothèque de toulouse. Si vous êtes inscrit et que vous souhaitez avoir accès à cette plateforme d'échange, merci de le signaler à l'accueil de la bibliothèque ou contacter l'admiinstrateur : <a class ="link" href"/">admin@bibliotheque-toulouse.fr</a></p>

<%- include("_footer") -%>
