<%- include("_header") -%>
<h1>Login</h1>
 
 <!-- login form -->
<form action="/login" method="POST">
  <div>
    <label for="login">Login</label>
    <input class="form-control" type="text" id="login" name="login" required>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<%- include("_footer") -%>
